@model LoanSharkMVC.Models.Loan

<div class="container">

    <h1 class="mb-2">Loan Caluculator</h1>

    <div class="row"> @* Row Containing Input Form and Loan Breakdown*@

        <div class="col"> @* Column Containing Input Form*@
            <form class="loanForm" asp-controller="Home" asp-action="App" method="post">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label asp-for="Amount">Loan Amount</label>
                        <input asp-for="Amount" tupe="number" class="form-control" id="lAmount" min="1000.00" value="@Model.Amount" />
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Term">Term</label>
                        <input asp-for="Term" tupe="number" class="form-control" id="lTerm" min="1" value="@Model.Term" />
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Rate">Rate</label>
                        <input asp-for="Rate" tupe="number" class="form-control" id="lRate" min="1.00M" value="@Model.Rate" />
                    </div>
                </div>
                <button type="submit" class="btn btn-cfOrange mt-2">Calculate</button>
            </form>
        </div>

        <div class="col"> @* Column Containing Loan Breakdown*@

            <div id="paymentTitle">
                <p>Your Monthly Payments</p>
            </div>
            <p id="payment">@Model.Payment.ToString("C")</p>

            <div class="row">    
                
                @* Row Containing Total Principal Info*@
                <div class="col-3" >&nbsp;</div>
                <div class="col-3"><label class="text-start">Total Principal</label></div>
                <div class="col-3 text-end"><label>@Model.Amount.ToString("C")</label></div>
                <div class="col-3">&nbsp;</div>

                @* Row Containing Total Interest Info*@
                <div class="col-3">&nbsp;</div>
                <div class="col-3"><label class="text-start">Total Interest</label></div>
                <div class="col-3 text-end"><label>@Model.TotalInterest.ToString("C")</label></div>
                <div class="col-3">&nbsp;</div>

                @* Row Containing Total Cost Info*@
                <div class="col-3">&nbsp;</div>
                <div class="col-3"><label class="text-start">Total Cost</label></div>
                <div class="col-3 text-end" id="ttlCost"><label>@Model.TotalCost.ToString("C")</label></div>
                <div class="col-3">&nbsp;</div>

            </div>

        </div>

    </div>

    @if (Model.Payments.Count > 0)
    {
        <div class="row">
            <div class="col">
                <table id="schedule" class="table table-striped table-hover">
                    <thead class="text-white" id="tableHeader">
                        <tr>
                            <th>Month</th>
                            <th>Payment</th>
                            <th>Pricipal</th>
                            <th>Interest</th>
                            <th>Total Interest</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Payments)
                        {
                            <tr>
                                <td>@item.Month</td>
                                <td>@item.Payment.ToString("C")</td>
                                <td>@item.MonthlyPrincipal.ToString("C")</td>
                                <td>@item.MonthlyInterest.ToString("C")</td>
                                <td>@item.TotalInterest.ToString("C")</td>
                                <td>@item.Balance.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>
